<!DOCTYPE html>
<html>
<head>
    <title>Learning Material Description</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script>
        <script>
            // Prevent the page from being reloaded
            window.addEventListener('beforeunload', function(e) {
                e.preventDefault();
            });
            // Reset the session if the user navigates away from this page
            window.addEventListener('unload', function() {
                navigateBackAndReset();
            });
            // Check if the user is navigating back to the index page
            window.addEventListener('popstate', function(event) {
                // Clear the session storage
                sessionStorage.clear();
    
                // Reload the page to reset the session
                window.location.reload();
            });
            // Reset the session when the user navigates back to the index page
            window.addEventListener('pageshow', function(event) {
                if (event.persisted || window.performance && window.performance.navigation.type == 2) {
                    // Page is fetched from cache, reset the session
                    fetch('/reset_session', {
                        method: 'GET',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }).then(response => {
                        // Handle the response if needed
                    }).catch(error => {
                        console.error('Error:', error);
                    });
                }
            });
        </script>

</head>
<body>
    <div class="navbar">
        <div class="navbar-brand">
            LMRS
        </div>
        <div class="sidebar">
            <a href="/">Home</a>
        </div>
    </div>

    <div class="cont">
        <h1>Learning Material Description</h1>
        <p id="description">{{ description }}</p>

        <button onclick="navigateBackAndReset()">Back to Home</button>
    </div>
</body>
</html>
